Projects/ASI Admin/src/Common/Service References/web.CreditCardService/CreditCardService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://stage-asicentralcreditcard.asicentral.com/service/CreditCardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/asi.asicentral.CreditCardVolt.model" />
  <xs:import schemaLocation="https://stage-asicentralcreditcard.asicentral.com/service/CreditCardService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Store">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/asi.asicentral.CreditCardVolt.model" minOccurs="0" name="creditCard" nillable="true" type="q1:CreditCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StoreResult" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreCreditCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asiCompany" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/asi.asicentral.CreditCardVolt.model" minOccurs="0" name="creditCard" nillable="true" type="q3:CreditCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreCreditCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StoreCreditCardResult" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>